/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url('/icons/flags.png') no-repeat;
}


.flag.flag-fr {
    background-position: 0 0;
}

.flag.flag-uk {
    background-position: -16px 0;
}
