<template name="userProfile">
  {{#if Template.subscriptionsReady }}
    <div class="card">
      <div class="card-heading"><a name="email"><h3>{{__ "emails"}}</h3></a></div>
      <div class="card-body">
        {{> editEmails }}
      </div>
    </div>
    {{> insertUpdateTemplate form=form data=data }}
  {{/if}}
</template>

<template name="userHelp">
  {{#markdown}}{{__ ".user_help" }}{{/markdown}}
</template>
